.team-div {
    background-color: #d9212a;
    color: aliceblue;
    padding: 15px;
    margin: 10px 0px
}

.team-info {
    display: grid;
    align-items: center;
    padding: 10px 0px
}
.football-icon {
    font-size: 70px;
    color:black
}

.all-members {
    display: grid;
}

.member-name {
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: #d9212a;
    background-color: #fff;
}

@media (max-width: 576px) {

    .team-info,
    .all-members {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .all-members {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) and (max-width: 1500px) {

    .team-info {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .all-members {
        grid-template-columns: 1fr 1fr 1fr;
    }
}